html, body {
	height: 100%;
}
body {
	margin: 0;
	background: #E3E8EF url(../img/background.png) repeat-x top;
}
a {
	color: #41669D;
}
#container {
	background: url(../img/barcode.png) no-repeat left top;
}
#page {
	padding: 50px 65px 0;
	width: 760px;
	margin: auto;
}
#header {
	
}
#logo {
	display: block;
	float: left;
	height: 53px;
	width: 177px;
	overflow: hidden;
	text-indent: -1000px;
	outline: none;
	text-decoration: none;
	background: url(../img/logo.png) no-repeat;
}
#header ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 53px;
	position: relative;
	margin-bottom: 54px;
}
#header ul li {
	float: left;
}
#header ul a {
	display: block;
	float: left;
	padding: 34px 6px 3px;
	margin: 0 1px;
	
	font: 14px/16px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	background-color: #41669D;
}
#header li a:hover {
	background-color: #30519E;
}
#header li.selected li a:hover {
	background-color: #30519E;
}
#header li.selected a:hover {
	background-color: #CF0000;
}
#header li.selected li.selected a:hover {
	background-color: #CF0000;
}
#header li ul {
	display: none;
	height: auto;
	position: absolute;
	top: 54px;
	left: 0;
}
#header li.selected ul {
	display: block;
}
#header li.selected a {
	background-color: #CF0000;
}
#header li.selected li a {

	padding: 6px 6px 6px;
	margin-right: 0;
	font: 9px/8px Verdana, sans-serif;
	height: 8px;
	background-color: #41669D;
}
#header li.selected li.selected a {
	background-color: #CF0000;
}


#breadcrumbs {
	clear: both;
	font: 23px/23px Arial, Helvetica, sans-serif;
	color: #41669D;
	cursor: default;
	padding: 2px 2px 2px 22px;
	margin-bottom: 8px;
	background: url(../img/breadcrumb_arrow.png) no-repeat left 6px;
}
#breadcrumbs p {
	padding: 6px 0 0;
	margin: 0 4px;
	font: 9px/9px Verdana, sans-serif;
	text-transform: uppercase;
	clear: left;
}
#breadcrumbs a {
	display: block;
	float: left;
	text-decoration: none;
	color: #41669D;
}
#breadcrumbs a:hover {
	color: #CF0000;
	text-decoration: underline;
}
#breadcrumbs a.first {
	text-transform: uppercase;
	font-weight: bold;
}
#breadcrumbs span {
	display: block;
	float: left;
	font: bold 30px/26px Arial, Helvetica, sans-serif;
	margin: 0 8px -4px;
}
#side_menu {
	float: left;
	width: 320px;
}
#side_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #41669D;
}
#side_menu li {
	background-color: white;
	padding: 10px;
	margin-bottom: 6px;
}
#side_menu h3 {
	margin: 0;
	font: bold 23px/24px Arial, Helvetica, sans-serif;
	color: #41669D;
}
#side_menu p {
	font: 12px/14px Arial, Helvetica, sans-serif;
	margin-left: 60px;
}

#content {
	float: right;
	padding: 0 20px;
	width: 382px;
	background-color: white;
	font: 14px Arial, Helvetica, sans-serif;
	color: #41669D;
}
#content h1, h2, h3 {
	font-family: "Times New Roman", Times, serif;
	color: #41669D;
}
#content p {
	font: 14px/20px Arial, Helvetica, sans-serif;
}
#footer {
	clear: both;
	height: 100px;
	margin: 20px -65px 0;
	width: 890px;
	background: url(../img/bottom_2col.png) no-repeat left bottom;
}
#lines_repeat {
	height: 70px;
	background: url(../img/repeat_lines.png) repeat-x bottom;
}
#lines {
	float: right;
	height: 70px;
	width: 886px;
	background: #E3E8EF url(../img/bottom_lines.png) no-repeat right bottom;
}
